page-login {

  #login {
    background: color($colors, bgcolor);
    background-image: url("../../assets/imgs/app_top_deco.png");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: 70px;
  }

  #login-form {
    border-radius: 40px 40px 0 0;
    background: color($colors, white);
    width: auto;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}
