// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff6f57,
  blue:       #79a7ff,
  fb-blue:    #3b5999,
  green:      #33d48f,
  brown:      #ff9579,
  purple:     #b094ff,
  white:      #ffffff,
  gray-eee:   #eeeeee,
  gray-aaa:   #aaaaaa,
  bgcolor:    #fff0ee,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background: color($colors, primary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";


@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ProximaNova/400/PN Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/ProximaNova/700/PN Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: extrabold;
  font-weight: 800;
  src: url('../assets/fonts/ProximaNova/800/PN Extrabold.otf') format("opentype");
}

$font-family-ios-base: 'Proxima Nova';
$font-family-md-base: 'Proxima Nova';
$font-family-wp-base: 'Proxima Nova';

body {
  font-family: 'Proxima Nova' !important;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Proxima Nova' !important;
  font-weight: 800 !important;
}
