page-welcome {

  #welcome {
    background: color($colors, bgcolor);
    background-image: url("../../assets/imgs/app_top_deco.png");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: 70px;
  }

}
